<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629415622037-pbbcf0pfcsvl21e9ge8314g5mlk4gqsh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629415622037-pbbcf0pfcsvl21e9ge8314g5mlk4gqsh</string>
	<key>API_KEY</key>
	<string>AIzaSyA3LzRcdlWMEefQemwqbEfAqT7rsIb8oOk</string>
	<key>GCM_SENDER_ID</key>
	<string>629415622037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.fire.flutter.test</string>
	<key>PROJECT_ID</key>
	<string>flutter-fire-12245</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-fire-12245.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629415622037:ios:871049e82c39145fb1329c</string>
</dict>
</plist>